<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="/Content/site.css">
    <script type="text/javascript" src="/Scripts/site.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
</head>
<body>
<div class="topBar">
	<a href="/Home/"><img src="/Content/logo_ccc.png" style="margin-top: 1%;"></a>
	<div class="topTitle">
		Perkins Open Computer Lab
	</div>
	<select name="changer" onchange="location = this.value;">
		<option value="/">Home</option>
 		<option value="/List">Current Student List</option>
 		<option value="/History">Student History</option>
	</select>
</div>
<div id="mainArea">
	@RenderBody()
</div>
	<footer>
	Cumberland County College <br>
	3322 College Drive, Vineland, New Jersey <br>
	856-691-8600 <br>
	</footer>
</body>
</html>

