@model string
@{
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Sign In - Open Lab</title>
</head>
<body onload="signIn_setup()">
    <div id="survey" class="contentArea">
    	<form action="/SignIn/SignIn/">
    		<div id="fields">
				<div class="label">Student ID:</div><input id="ID" name="ID" type="text" onkeyup="tryLookup(ID.value)"> <div class="reloadWarning">@Model</div><br>
			</div>
			<input type="submit" id="submitButton">
    	</form>
    </div>
</body>
</html>

