ï»¿Ã¯Â»Â¿ÃƒÂ¯Ã‚Â»Ã‚Â¿ÃƒÆ’Ã‚Â¯Ãƒâ€šÃ‚Â»Ãƒâ€šÃ‚Â¿ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¯ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¿.topBar {
	margin: -1% 0% 2% -1%;
	padding-left: 1%;

	width: 100%;
	background-color: #F9F9F9;
	
	border-style: none none groove none;
	border-width: 2px;
}

.topTitle {
	display: inline-block;
	
	padding: 0% 0% 2% 10%;
	font-size: 40px;
	font-weight: bold;
}

.contentArea {
	margin: 3% 3% 3% 3%;
	padding: 0% 15% 0% 15%;
	
	background-color: white;
}

.label {
	margin: 1% 0% 1% 0%;
	display: inline-block;
	text-align: right;
	margin-right: 2%;
	width: 100px;
}

input[type=text] {
	width: 50%;
}

input[type=submit] {
    padding:5px 15px; 
	margin-left: 2%;
    background:#ccc; 
    border:0 none;
    border-radius: 5px; 
}

button {
	transition-duration: 1.0s;
	
	height: 100px;
	width: 50em;
	margin: 1em 0em 1em 10em;
	

	
	border-style: groove;
	border-width: 1px;
}

.signIn {
	background-color: #91a370;
}

.signIn:hover {
	background-color: green;
}

.signOut {
	background-color: #a38270;
}

.signOut:hover {
	background-color: brown;
}

body {
	background-color: rgba(44, 57, 64, .1);
}

footer {
	background-color: #525252;
	color: white;
	
	font-weight: bold;
	font-size: 20px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	
	border-width: 2px;
	border-style: solid;

	text-align: center;
}

.tooltip {
  margin-left: 15%;	
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
  width: 300px;
}

table {
	width: 100%;
}

td{
  padding-left: 13%;
	border-style: solid solid none solid;
	border-width: 1px;
}

ul {
	margin-left: 20em;
}

li {
  color: #ccc;
	padding: 1% 0% 1% 0%;
	text-decoration: none;
}

li a {
	font-style: normal;
	text-decoration: none;
	color: black;
	font-size: 24px;
	border-style: solid;
}