@using PerkinsMonitor;
@using System.Collections.Generic;
@model IEnumerable<Session>

@{
    ViewBag.Title = "Lab List";
    Layout = "../Shared/_Layout.cshtml";
}

<body>
	<table>
	<tr><th>Student ID</th><th>Student</th><th>Time Started</th></tr>
	@foreach(Session s in Model)
		{
		<tr>
			<td>
			@s.Student.ID
			</td>
			<td>
			@s.Student.LastName , @s.Student.FirstName
			</td>
			<td>
			@s.TimeStarted.ToLongTimeString()
			</td>
		</tr>
		}

	</table>
</body>

