@using PerkinsMonitor;
@model Warning
@{
	Layout = "../Shared/_Layout.cshtml";
}

<html>
	<head>
		<title>Perkins Open Computer Lab</title>
	</head>
	<body>
	<div class="warning"><h2 stlye="text-align: center; color: red;">@(Model.WarningText ?? " ")</h2></div>
	<div class="contentArea">
		<a href="/Home/RequestSignIn">
			<button class="signIn">Sign In</button>
		</a>
		<br>
		<a href="/Home/RequestSignOut">
			<button class="signOut">Sign Out</button>
		</a>
	</div>
	</body>
</html>


